<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inverted Indez</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="public/css/style.css">
</head>

<body ng-app = "myApp">
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Inverted Index</a>
      </div>
    </nav>
  </header>

  <section ng-controller="mainController">
    <div class="row">
      <form>
      <div class="input-field right">
        <input id="search" type="search" ng-model="searchWord">
        <button class = "btn" ng-click="searchIndex(searchWord)">search</button>
      </div>
      </form>
    </div>

    <div id="upload" class="row">
      <form action="#">
        <div class="file-field input-field">
          <div class="btn">
            <span>Upload</span>
          </div>
          <input id="file-input" type="file">
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload file(s)"><br>
          </div>
      </form>
      <div id="toast-container"></div>
</div>

      <div class="btn right" ng-click="createIndex()">Create Index</div>
      </div>
      </div>

    <table class="striped container" ng-show="showTable">
      </thead>
      <tr>
        <th>Words</th>
        <th ng-repeat="items in count">Document {{ items + 1}}</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="(key, values) in myIndex">
        <td>{{ key }}</td>
        <td ng-repeat="number in count"><span ng-if="values.includes(number)"><i class="material-icons">done</i></span></td>
      </tr>
      </tbody>
    </table>
  </section>

  <footer>
    <nav>
      <p>copyright 2016 Moyosore Sosan</p>
    </nav>
  </footer>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script type="text/javascript" src="src/inverted-index.js"></script>
  <script type="text/javascript" src="public/js/app.js"></script>
</body>
</html>