.nav-wrapper {
  padding-left: 50px;
  position: fixed;
}
nav {
  background: maroon;
}

.btn {
  background: darkslategray;
}

footer {
  text-align: center;
  bottom:0;
  width:100%;
  position: fixed;
}

#upload {
  width: 50%;
}

td, th, i {
  color: red;
}

#toast-container {
  bottom: auto !important;
  right: auto !important;
  bottom: 10%;
  left:30%;  
}
